
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --button-yellow-color: #FDDE67;
    --haver-button-yellow-color: #FFEB9D;
    --background-slider: linear-gradient(111deg, #2a4032 0.81%, #3a5e46 100%);
   --background-header-desktop: linear-gradient(111deg, #2a4032 0.81%, #3a5e46 120%);
    --ellipses-color: #1B2D22;
    --col-primary: #000;
    --col-secondary: #fff;
    --col-bg-new-sec: #fff;
    --col-bg-best-sec: #E9E9E9;
    --col-bg-card-1: #C5C2CA;
    --col-bg-card-2: #FDDE67;
    --col-font-last-price: #00000099;
    --col-bg-btn: #181818;
    --col-bg-basket: #FDDE67;
    --col-bg-ads-r: #3B5F47;
    --col-bg-ads-l: #FDDE67;
    --col-price: #00000060;
    --col-last-price: #00000020;
    --col-bg-btn-hover: #1E1E1E;
    --col-bg-discount-label: #3A5E46;
    --font-family-title: 'Lato';
    --font-family-text: 'Roboto';
    --base-font-size: 16px;
    /* Set my base font size */
    --font-size-12: 0.75rem;
    /* 12px in rem */
    --font-size-14: 0.875rem;
    /* 14px in rem */
    --font-size-16: 1rem;
    /* 16px in rem */
    --font-size-18: 1.125rem;
    /* 18px in rem */
    --font-size-20: 1.25rem;
    /* 20px in rem */
    --font-size-24: 1.5rem;
    /* 24px in rem */
    --font-size-32: 2rem;
    /* 32px in rem */
    --font-size-36: 2.25rem;
    /* 36px in rem */
    --font-size-40: 2.5rem;
    /* 40px in rem */
    --font-size-48: 3rem;
    /* 48px in rem */
    --font-size-60: 3.75rem;
    /* 60px in rem */
    --font-size-64: 4rem;
    /* 64px in rem */
    --font-weight-small: 300;
    --font-weight-medium: 500;
    --font-weight-large: 700;
    --font-weight-xlarge: 900;
}

* {
    box-sizing: border-box;
}



